
data/gd01/Training_Loss_and_Accuracy_of_34.png
data/gd01/Training_Loss_and_Accuracy_of_50.png
data/gd01/Training_Loss_and_Accuracy_of_All.png
data/gd01/Validation_Loss_and_Accuracy_of_34.png
data/gd01/Validation_Loss_and_Accuracy_of_50.png
data/gd01/Validation_Loss_and_Accuracy_of_All.png
data/gd04/Validation_Accuracy_With_Aug.png
data/gd04/Results_With_all_Aug.png
